/******** BASE STYLES *********/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #CFCFCF;
  /*font: 1em/1.5 "Helevtica Neue", Helvetica, Arial, san-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  background-image: url("../img/background-01.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.link{
  color: #ff9100;
}

.selected{
  color: #ff9100;
}

a:hover{
  color: #007FCF;
}

/******** NAV BAR *********/
li {
  list-style:  none;
  display: inline-block;
  color: black;
  font-size: 0.8em;
}

li a{
  color: gray;
  padding: 20px 20px;
  font-size: 1.2em;
}

ul{
  text-align: center;
  background-color: white;
  color: black;
  /*padding: 20px;*/
}

nav {
  display: block;
  background-color: white;
  /*opacity: 0.6;*/
  box-shadow: inset 10px 5px 6px -3px blue;
  /*border: solid 1px red;*/
}

/******** HEADER *********/

header{
  background-color: #007FCF;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3.2em;
  font-family: 'Lobster', cursive;  width: 100%;
  /*font-family: 'Raleway', sans-serif;*/
  color: white;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 20px;
  color:#ff9100;
}

h3 {
  color: #005c99
}

/*.container {
  width:100%;
  margin: 0 auto;
}*/

/******** BLOG ENTRIES *********/

.content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 300px;
  max-width: 800px;
  background-color: white;
  color: #5C5C5C;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 1100px){
  .content{
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media screen and (max-width: 600px){
  .content{
    margin-right: 20px;
    margin-left: 20px;
  }
}

p{
  text-align:justify;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  margin-bottom: 15px;
  size: 0.4em;
  line-height: 200%;
}

/******** IMAGES *********/

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#semantic-image {
  display: inline;
  float: right;
  margin: 10px;
  padding: 10px;
  display: none;
}

.main-image{
  max-width:100%;
  margin:0;
}

.image-box{
  max-width: 100%;
  background-image: url("/img/main.JPG");
  background-repeat: no-repeat;
  border: solid 1px red;
}

/******** RESPONSIVE *********/

@media screen and (max-width: 1100px){
  .content{
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media screen and (max-width: 600px){
  .content{
    margin-right: 20px;
    margin-left: 20px;
  }
}

/******** BLOG POSTS *********/

.blog-posts{
  display: flex;
}

.blog-entries{
  font-size: 1.8em;
}

.blog-entries a{
  background-color: #007FCF;
  border-radius: 7px;
  color: white;
  display: inline-block;
  padding: 30px;
  margin: 20px;
  /*opacity: 0.5;*/
}

.blog-entires a:hover{
  background-color: white;
}
