* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:visited{
  color:black;
}

body {
  background-color: #ff9100;
  font: 1em/1.5 "Helevtica Neue", Helvetica, Arial, san-serif;
  /*color: white;*/
  max-width: 100%;
  /*min-width: 500px;*/
  /*margin: 100px*/
}

h1 {
  font-size: 2.3em;
  font-family: 'Lobster', cursive;  width: 100%;
  display: block;
  color: white;
}

h2 {
  font-size: 1.1em;
  margin-bottom: 20px;
  color:#ccffff
;
}


li {
  list-style:  none;
  display: inline-block;
  padding: 0 20px;
  color: black;
}

li a{
  color: black;
}

ul{
  text-align: center;
  background-color: white;
  color: black;
  /*padding: 20px;*/
}

nav {
  display: block;
  backgroud-color: #0099cc;
}


a:hover{
  color: gray;
}

header{
  background-color: gray;
  text-align: center;
  padding: 20px;
}

.container {
  width:100%;
  max-width: 1150px;
  margin: 0 auto;

}

p{
  width: 80%;
  max-width: 100px;
  min-width: 400px;
}
